.bbb::before {
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    background: #fff;
    content: " ";
    height: 100%;
    position: fixed;
    right: 0;
    top: 0;
    -webkit-transform-origin: right;
    -ms-transform-origin: right;
    transform-origin: right;
    width: 50%;
}