.forgot-password {
  // background-color: red;
  .care-left-icon {
    height: 20px;
    display: unset;
    color: #0b318f;
  }
  .text__forgot {
    font-family: "Noto Sans JP";
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 40px;
    text-align: center;
    color: #de3c42;
  }

  .text__forgot--gray {
    font-family: "Noto Sans JP";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    color: #8392a5;
  }

  .btn__forgot {
    // background-color: $color-blue-light;
    background-color: #2ea7e0;
    border-radius: 6px;
  }

  .back__to-sign-in {
    font-family: "Noto Sans JP";
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    color: #de3c42;
  }
}
.change__pass-container {
  // padding: 0 4% !important;
  max-width: 684px;
  width: 100%;
  .btn__change-pass {
    background-color: #2ea7e0 !important;
    border-radius: 6px;
  }
  .btn__change-pass:hover {
    background-color: #2480aa !important;
  }
}
