.popup {
    width: 400px;
    height: 200px;
    position: fixed;
    background-color: #fff;
    border: 1px solid black;
    border-radius: 4px;
    padding: 20px;
    font-size: 16px;
    right: 35%;
    top: 35%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 24px;
    span {
        font-family: "Noto Sans JP";
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        /* identical to box height, or 150% */

        text-align: center;

        /* Primary_Color/Text1 - color */

        color: #1c1d22;
    }
    .btn__logout {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width: 90%;
        button {
            background: #2ea7e0;
            border-radius: 6px;
            padding: 3% 8%;
        }
        button:hover {
            opacity: 0.5;
        }
        .btn__logout--no {
            background: #8392a5;
        }
    }
}
.popup-overlay {
    position: fixed;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
}
.ReactModal__Content {
    margin: 2% auto;
}
.gsc-results-wrapper-overlay {
    width: auto !important;
}

.ReactModalPortal {
    .ReactModal__Overlay.ReactModal__Overlay--after-open {
        background-color: rgba(126, 126, 126, 0.6) !important;
    }
}

.modal__search-pdf--container {
    background: #fff;
    padding: 20px;
    max-width: 792px;
    width: 100%;
    height: 112px;
    margin: 0 auto;
    border: 0.5px solid gray;

    .modal__search-pdf {
        h3 {
            font-family: "Noto Sans JP";
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            line-height: 24px;
            color: #0b318f;
            flex: none;
            order: 0;
            flex-grow: 0;
        }

        img:hover {
            cursor: pointer;
        }
    }
        .gsc-control-wrapper-cse{
            .gsc-results-wrapper-overlay.gsc-results-wrapper-visible{
                height: 100% !important;
            }
        }
    .gsc-modal-background-image-visible{
        opacity: 0 !important;
        background-color: rgba(0, 0, 0, 0.5) !important;
    }
}
.ReactModal__Content {
    box-shadow: none !important;
}
.ReactModal__Content--after-open {
    background: none !important;
    border: none !important;
    overflow: hidden !important;
    width: 80% !important;
}
.gsc-modal-background-image {
    height: 100% !important;
    border: none !important;
}
table.gsc-search-box td.gsc-input {
    padding-right: 0px !important;
}
.gsc-search-button-v2 {
    border-radius: 0px 6px 6px 0px !important;
}
.gsc-results-wrapper-overlay {
    top: 0% !important;
    left: 0% !important;
    width: 100% !important;
}

.gsc-results-wrapper-overlay {
    transition: none !important;
    box-shadow: none !important;
}
// #gsc-i-id1 {
//     background: url("@/assets/images/text_search-pdf.png") left center no-repeat rgb(255, 255, 255) !important;
// }
.gsc-search-button {
    height: 34px !important;
}
input#gsc-i-id1.gsc-input:focus {
    background: none !important;
}

.gsc-input {
    background: none !important;
}

.gsc-control-cse {
    padding-bottom: 0 !important;
}

.gsc-results-wrapper-visible {
    box-shadow: none !important;
}
.gsc-search-button-v2 {
    height: 100% !important;
}
@media only screen and (max-width: 460px) {
    .ReactModal__Content--after-open {
        box-shadow: none !important;
        margin-left: 0% !important;
        overflow: hidden !important;
        width: 100vw !important;
        margin-left: -13% !important;
    }

    .gsc-results-wrapper-visible {
        width: 100% !important;
    }
}
